services:
  kuebiko-cubing:
    build: .
    image: kuebiko-cubing:dev
    container_name: kuebiko-cubing-dev
    ports:
      - "5000:5000"
    volumes:
      - ./:/app
      - ./wca_data:/downloads
      - /app/__pycache__
    environment:
      - DEBUG=true
    restart: "no"
